* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px; 
}

.grid-item {
    display: flex;
    flex-direction: column; 
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3b5d50;
    box-shadow: 0 0 5px rgba(59, 93, 80, 0.5);
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 40px; 
}

.toggle-password {
    position: absolute;
    right: 10px; 
    cursor: pointer;
    font-size: 18px; 
    color: #333; 
}
a{
    text-decoration: underline;
    color: #3b5d50;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #3b5d50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px; 
}

button:hover {
    background-color: #1b2b25;
}

button:focus {
    outline: none;
}

.message {
    font-size: 0.9rem;
    margin-top: 5px;
}

.message.valid {
    color: green;
}

.message.invalid {
    color: red;
}

.terms {
    grid-column: span 2; 
}
